.hero-button-container {
  height: 100%;
  width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Alexandria", sans-serif;
}

.hero-button-container:hover {
  transform: scale(105%);
  transition: all 1s;
}

.hero-button-container:hover::after {
  transition: all 1s;
}

.labelContainer {
  height: 20%;
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 6px;
}
