* {
  margin: 0;
  scroll-behavior: smooth;
  --primaryBlue: rgb(28, 96, 220);
  --primaryGreen: rgb(60, 196, 140);
  --primaryOrange: rgb(252, 124, 52);
  cursor: default;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-hero-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
